.animateLabel {
  position: relative;
  margin-top: 0px;

  label {
    position: absolute;
    bottom: 35%;
    left: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    width: auto;
    color: #666666;
  }
  input:valid + label,
  input:focus + label,
  input:not(:empty) + label {
    bottom: 40px;
    font-size: 10px;
    background-color: white;
    width: auto;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 3px;
  }

  input:focus + label {
    color: #666666;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 3px;
  }
  input:focus {
    border: 2px solid #e0e0e0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // line:before {
  //   content: "";
  //   position: absolute;
  //   background: #6c5b3c;
  //   width: 0;
  //   height: 2px;
  //   right: 50%;
  //   bottom: 0;
  //   border-bottom-left-radius: 50px; // Adjust the value as needed
  //   border-bottom-right-radius: 50px;
  // }
  // input:focus ~ line:before {
  //   width: 100%;
  //   right: 0;
  //   transition: all 0.3s ease;
  //   border-radius: 50px;
  //   border-bottom-left-radius: 50px; // Adjust the value as needed
  //   border-bottom-right-radius: 50px; // Adjust the value as needed
  // }
}
.animateLabelMessage {
  position: relative;
  margin-top: 0px;

  label {
    position: absolute;
    top: 20px;
    left: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    width: auto;
    color: #666666;
  }
  textarea {
    padding-top: 20px;
    min-height: 168px;
  }

  textarea:valid + label,
  textarea:focus + label {
    top: 6px;
    font-size: 10px;
    background-color: white;
    width: auto;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 3px;
  }
  textarea:focus + label {
    color: #666666;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 3px;
  }
  textarea:focus {
    padding-top: 20px;
    border: 2px solid #e0e0e0;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.input {
  width: 100%;
  color: black;

  background-color: white;
  // border: 1px solid #e0e0e0;
  // border-bottom: 1px solid #e0e0e0;
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 0px;
  &:focus {
    outline: none;
  }
}

// .box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 25rem;
//   padding: 2.5rem;
//   box-sizing: border-box;
//   border: 1px solid #dadce0;
//   -webkit-border-radius: 8px;
//   border-radius: 8px;
// }

// .google-logo {
//   display: flex;
//   justify-content: center;
//   padding-bottom: 15px;
// }

// .box h2 {
//   margin: 0px 0 -0.125rem;
//   padding: 0;
//   color: #fff;
//   text-align: center;
//   color: #202124;
//   font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
//   font-size: 24px;
//   font-weight: 400;
// }

// .box p {
//   font-size: 16px;
//   font-weight: 400;
//   letter-spacing: 0.1px;
//   line-height: 1.5;
//   margin-bottom: 25px;
//   text-align: center;
// }

// .box .inputBox {
//   position: relative;
// }

// .box .inputBox input {
//   width: 93%;
//   padding: 0.625rem 10px;
//   font-size: 1rem;
//   letter-spacing: 0.062rem;
//   margin-bottom: 1.875rem;
//   border: 1px solid #ccc;
//   background: transparent;
//   border-radius: 4px;
// }

// .box .inputBox label {
//   position: absolute;
//   top: 0;
//   left: 10px;
//   padding: 0.625rem 0;
//   font-size: 1rem;
//   color: grey;
//   pointer-events: none;
//   transition: 0.3s;
// }

// .box .inputBox input:focus ~ label,
// .box .inputBox input:valid ~ label,
// .box .inputBox input:not([value=""]) ~ label {
//   top: -1.125rem;
//   left: 10px;
//   color: #1a73e8;
//   font-size: 0.75rem;
//   background-color: white;
//   height: 10px;
//   padding-left: 5px;
//   padding-right: 5px;
// }
// .box .inputBox input:focus {
//   outline: none;
//   border: 2px solid #1a73e8;
// }
// .box input[type="submit"] {
//   border: none;
//   outline: none;
//   color: #fff;
//   background-color: #1a73e8;
//   padding: 0.625rem 1.25rem;
//   cursor: pointer;
//   border-radius: 0.312rem;
//   font-size: 1rem;
//   float: right;
// }

// .box input[type="submit"]:hover {
//   background-color: #287ae6;
//   box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45),
//     0 1px 3px 1px rgba(66, 133, 244, 0.3);
// }

// .box .inputBox input:focus ~ label,
// .box .inputBox input:valid ~ label,
// .box .inputBox input:not([value=""]) ~ label {
//   top: -1.125rem;
//   left: 10px;
//   color: #1a73e8;
//   font-size: 0.75rem;
//   background-color: white;
//   height: 10px;
//   padding-left: 5px;
//   padding-right: 5px;
// }
// .box .inputBox input:focus {
//   outline: none;
//   border: 2px solid #1a73e8;
// }

// .forgot {
//   margin-top: -20px;
// }

// .forgot button {
//   -webkit-border-radius: 4px;
//   border-radius: 4px;
//   color: #1a73e8;
//   display: inline-block;
//   font-weight: 500;
//   letter-spacing: 0.25px;
//   outline: 0;
//   position: relative;
//   background-color: transparent;
//   cursor: pointer;
//   font-size: inherit;
//   padding: 0;
//   text-align: left;
//   border: 0;
// }
